@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
.App {
  font-family: "Lora", serif;
  text-align: start;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

.ListItem {
  list-style: none;
  padding: 1rem;
  width: 100%;
  border: 1px solid darkslategray;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
}

.backdrop {
  float: left;
  margin-right: 1rem;
  height: 100px;
}
